header input {
  width: 50ch;
  font-size: 18px;
  padding: 5px;
}

main {
  padding: 20px;
}

.listaDeFilmes {
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.listaDeFilmes li {
  width: clamp(100px, 20%, 200px);
  padding: 10px;
}

.listaDeFilmes li:hover {
  background: #ccc;
  cursor: pointer;
}

.listaDeFilmes li p {
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
}

.listaDeFilmes li img {
  width: 100%;
}

.paginas {
  text-align: center;
}

.paginas span {
  margin: 20px;
}

.paginas button {
  padding: 5px 20px;
  cursor: pointer;
}

.filme-info {
  display: flex;
  gap: 30px;
}

.info-block {
  margin-bottom: 20px;
}
